.prodView {
    width: 95vw;
    padding-left: 30px;
}

.product {
    width: 80vw;
    background-color: #55689c;
    color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto;
    text-align: left;
    padding: 10px;
    border-radius: 20px;
    float: left;
    border: double darkblue;
}
.product:hover {
    background-color: #345895;
}
.productOperation {
    width: 10vw;
    background-color: #c1b8b8;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;
    text-align: left;
    padding: 21px;
    border-radius: 20px;
    float: right;
    border: double darkblue;
}

.addToCartButton {
    font-size: 20px;
    color: white;
    height: 50px;
    margin: auto 10px;
    border: none;
    border-radius: 10px;
    background-color: darkorange;
    border: solid 2px #c73900;
}

.addToCartButton:hover {
    background-color: crimson;
    cursor: pointer;
}

.deleteFromCartButton {
    font-size: 20px;
    height: 50px;
    margin: auto 20px;
    border: none;
    border-radius: 10px;
    background-color: red;
}

.deleteFromCartButton:hover {
    background-color: darkred;
    cursor: pointer;
}

.addToFavouriteButton {
    font-size: 20px;
    color: white;
    height: 50px;
    margin: auto 10px;
    border: none;
    border-radius: 10px;
    background-color: darkorange;
    border: solid 2px #c73900;
}

.addToFavouriteButton:hover {
    background-color: crimson;
    cursor: pointer;
}

.defaultButton {
    font-size: 20px;
    height: 50px;
    margin: auto 20px;
    border: none;
    border-radius: 10px;
    background-color: #276334;
}

.defaultButton:hover {
    background-color: #6aaf71;
    cursor: pointer;
}